a {text-decoration: none;}
li {list-style: none;}
.menu li:hover {border-radius: 5px;transition: 0.3s ease;}
.menu li {padding: 5px 14px;}
input[type=checkbox] {display: none;}
.hamburger {display: none;}
@media (max-width: 768px) {
    .menu {display: none;position: absolute;margin-top: 1rem;
        right: 0;left: 0;padding: 16px 0;}
    .menu li:hover {display: inline-block;transition: 0.3s ease;}
    .menu li+li {margin-top: 12px;}
    input[type=checkbox]:checked~.menu {display: block;}
    .hamburger {display: block;}
}